

.loading {
  text-align: center;
  min-height: 100px;
}

.title {
  h2,h3 {
    a {
      color: #317eac;
    }
  }
}

// .refresh-data{
//   position: absolute;
//   top: 20px;
//   right: 0;
// }

.widget-layout {
  // position: relative;
  // padding-top: 50px;

  h4, h5 {
    color: #555;
  }
}

// Teasers / borders

$teaser-padding: 20px;

.list-border + .list-border {
  border-top: 1px solid #ccc;
  margin-top: $teaser-padding;
  padding-top: $teaser-padding;

  &.list-border-small {
    margin-top: $teaser-padding/2;
    padding-top: $teaser-padding/2;
  }
}

.list-border.row + .list-border.row {
  border-top: 0;
  padding-top: 0px;

  &:before {
    border-top: 1px solid #ccc;
    content: "";
    display: block;
    margin-right: 15px;
    margin-left: 15px; 
    margin-bottom: $teaser-padding;
  }

  &.list-border-small {
    padding-top: 0;

    &:before {
      margin-bottom: $teaser-padding/2;
    } 
  }
}


fieldset + fieldset {
  border-top: 1px solid #ddd;
  margin-top: 20px;
  padding-top: 20px;
}

// vulnerability widget
// ----------------------------

.vulnerability {
  li a {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
    text-overflow: ellipsis;
  }

  + .vulnerability {
    border-top: 1px solid #ddd;
    margin-top: 20px;
    padding-top: 10px;
  }
}

// news widget
// ----------------------------

.news-item + .news-item {
  border-top: 1px solid #ddd;
  margin-top: 20px;
  padding-top: 10px;
}


// Contacts edit page
// ----------------------------

.confirm-delete {
  position: relative;
  overflow: hidden;
}

.confirm-inner {
  position: relative;
  width: 200%;

  > div {
    float: left;
    width: 50%;
  }
}

// Domains page
// ----------------------------
